In [2]:
import pandas as pd

In [2]:
ls

1.py                     EDA_Data_Sourcing.xlsx   census+data.xlsx
2024_8_18_Pandas.ipynb   NumPy_17_August.ipynb    census_data.ipynb
AIML.iml                 Numpy_17thAugust.ipynb   day.csv
AIML_10th_Aug2024.ipynb  README.md                loan.csv
AIML_11th_Aug2024.ipynb  Untitled.ipynb           output.csv

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 1.1 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip available: 22.2.2 -> 24.2
[notice] To update, run: pip3.10 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
df =pd.read_excel("census+data.xlsx")

In [17]:
df.tail(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
3133,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,...,0,21,14,7,82,72,10,4,1,3
3134,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,...,4,14,9,5,56,41,15,7,4,3
3135,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,...,0,6,3,3,22,16,6,7,4,3
3136,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,...,0,2,1,1,23,14,9,6,1,5
3137,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,...,0,4,2,2,14,7,7,3,1,2